@import "../../styles/variables";
@import "../../styles/animations";
@import "../../styles/components";

.project {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.date {
  margin-top: 12px;
}

.title {
  color: $black;
}
