@import "../../styles/variables";
@import "../../styles/animations";
@import "../../styles/layout";
@import "../../styles/components";

.experiences {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.list {
  padding-left: 1.2em;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.company {
  display: flex;
  align-items: center;
  gap: 12px;
}
