// Fade
.fade {
  transition: opacity 0.8s ease;
}

.fadeHidden {
  opacity: 0;
}

// Slide
.slide {
  transition: all 0.7s ease 0s;
}

.slideDownHidden {
  transform: translateY(-120%);
}

.slideRightHidden {
  transform: translateX(-120%);
}

.slideUpHidden {
  transform: translateY(120%);
}
