@import "../../styles/variables";
@import "../../styles/animations";

.container {
  padding: 12px 28px;
  background-color: $blue;
  color: white;
  position: sticky;
  top: 0;
  height: 48px;
  z-index: 9999;
  font-size: $large;
}

.innerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  padding: 20px 28px;
  display: flex;
  flex-direction: column;
  background-color: $gray;
  color: black;
  font-weight: 700;
  gap: 40px;
  position: fixed;
  top: 72px;
  z-index: 2;
  min-height: calc(100vh - 72px);
  width: 100%;
  font-size: $large;
}
