@import "../../styles/variables";
@import "../../styles/animations";
@import "../../styles/layout";
@import "../../styles/components";

.container {
  padding-bottom: 0;
  margin-top: 120px;
  overflow-y: hidden;
}

.links {
  margin-bottom: 32px;
}
