body {
  padding: 0;
  margin: 0;
}

/* css 100vw issues and fix
    https://www.smashingmagazine.com/2021/04/css-overflow-issues/#:~:text=Viewport%20Units,won't%20cause%20horizontal%20scroll.&text=On%20Windows%2C%20scrollbars%20are%20always,default%2C%20so%20overflow%20will%20occur.
    https://stackoverflow.com/questions/23367345/100vw-causing-horizontal-overflow-but-only-if-more-than-one/23367686
*/
.section {
  background-color: #f4f4f4;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  flex-direction: column;
  background-color: burlywood;
}

.hi {
  position: sticky;
  top: 0px;
  opacity: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}

h1 {
  font-size: 400%;
}
