/* ### NEW FONTS ### */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* ### GENERAL STYLES ### */
html {
  color: #1d1d1f;
  font-size: 17px;
  font-family: "Poppins";
  line-height: 1.47059;
  overflow-x: hidden;
}

body {
  color: #1d1d1f;
  line-height: 1.47059;
  margin: 0;
  font-size: 1.4rem;
  letter-spacing: -0.022rem;
}

h1 {
  font-size: 5rem;
  margin: 0px;
}

h2 {
  font-size: 3rem;
  margin: 0px;
}

h3 {
  font-size: 1.5rem;
  margin: 0;
}

p {
  margin: 1vh 0;
  text-align: justify;
}

ul {
  padding-left: 0;
}

li {
  margin-left: 1em;
}

section,
footer {
  margin: 6rem 12vw;
}

/* ### UTILITIES ### */

/* css 100vw issues and fix
    https://www.smashingmagazine.com/2021/04/css-overflow-issues/#:~:text=Viewport%20Units,won't%20cause%20horizontal%20scroll.&text=On%20Windows%2C%20scrollbars%20are%20always,default%2C%20so%20overflow%20will%20occur.
    https://stackoverflow.com/questions/23367345/100vw-causing-horizontal-overflow-but-only-if-more-than-one/23367686
*/
.viewport-fit {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clickable-logo {
  margin: 0 2rem 0 0;
}

.link {
  color: black;
  text-decoration: None;
  border-bottom: 2px solid black;
  padding-bottom: 2px;
  transition: border-bottom 0.5s, padding-bottom 0.5s;
}

.link:hover {
  border-bottom: 2px solid transparent;
  padding-bottom: 8px;
  transition: border-bottom 0.2s, padding-bottom 0.2s;
}

/* ### SITEWIDE ### */
.header {
  display: flex;
  flex-direction: row;
  background-color: rgb(115, 158, 223);
  color: white;
  gap: 10rem;
  font-size: 2rem;
}

.header-welcome {
  margin: 12rem 0 0 0;
}

.profile-pic {
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
}

.intro-container {
  height: 60vh;
}

.experience-container {
  margin: 0 0 6rem 0;
}

.experience-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.logos-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1rem 0 2rem 0;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s;
  margin: 0 2rem 0 0;
}

.logo-container:hover {
  transform: scale(1.25);
}

.logo {
  height: 40px;
}

.logo-name {
  margin: 0 -1000px;
  font-size: 0.8rem;
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;
}

.logo-container:hover > .logo-name {
  transition: opacity 0.8s;
  opacity: 1;
}

.date {
  color: grey;
}

.project-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 6rem 0;
}

.project-details {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 0 4rem 0 0;
}

.project-urls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.project-url {
  margin: 0 0 0.5rem 0;
}

.project-img {
  width: 35rem;
  object-fit: cover;
}

/* ### Animations ### */
.fade-in {
  transition: opacity 1.5s;
  opacity: 1;
}

.fade-out {
  transition: opacity 1.5s;
  opacity: 0;
}

.slide-vert-container {
  overflow-y: hidden;
}

.slide-up {
  transition: all 0.7s cubic-bezier(0, 1, 0.5, 1);
  top: 0%;
  position: relative;
}

.slide-down {
  transition: all 0.7s cubic-bezier(0, 1, 0.5, 1);
  top: 100%;
  position: relative;
}

.slide-left-right {
  transition: all 1.2s cubic-bezier(0, 1, 0.5, 1);
  right: 0%;
  position: relative;
}

.slide-left-right.reverse {
  transition: all 1.2s cubic-bezier(0, 1, 0.5, 1);
  right: 100%;
  position: relative;
}

.slide-right-left {
  transition: all 1.2s cubic-bezier(0, 1, 0.5, 1);
  left: 0%;
  position: relative;
}

.slide-right-left.reverse {
  transition: all 1.2s cubic-bezier(0, 1, 0.5, 1);
  left: 100%;
  position: relative;
}
